/out/production/StartUpProject-java-/.idea/.gitignore
/out/production/StartUpProject-java-/.idea/misc.xml
/out/production/StartUpProject-java-/.idea/modules.xml
/out/production/StartUpProject-java-/.idea/StartUpProject-java-.iml
/out/production/StartUpProject-java-/test.class
/out/production/StartUpProject-java-/.idea/vcs.xml
/out/production/StartUpProject-java-/.gitignore
/.idea/discord.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/out/production/StartUpProject-java-/.idea/sonarlint/issuestore/index.pb
/out/production/StartUpProject-java-/.idea/sonarlint/securityhotspotstore/index.pb
/out/production/StartUpProject-java-/StartUpProject-java-.iml
/StartUpProject-java-.iml
