/out/production/StartUpProject-java-/.idea/.gitignore
/out/production/StartUpProject-java-/.idea/misc.xml
/out/production/StartUpProject-java-/.idea/modules.xml
/out/production/StartUpProject-java-/.idea/StartUpProject-java-.iml
/out/production/StartUpProject-java-/test.class
/out/production/StartUpProject-java-/.idea/vcs.xml
